body {background-color: #5d0000;
    background-color: #5d0000; 
}
#content {
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

#text {
    text-align: center;
}


h1 {
    font-size: 35px;
    color: rgb(129, 0, 26);
    
}
h2{
    color: rgb(228, 255, 240);
}
p{
    color: #ffffff;
}
h3{
    color: #ffdfe1;
}
h4{
    color:  #ffdfe1;
}

h5{
    color: #ffdfe1;
}